.snap-picture-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #000;
    color: #fff;
    touch-action: none;
    $buttons-shadow: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));

    .canvas-container {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
   
        img {
            width:100%;
            height:100%;
        }
    }

    .actual-camera-container {
        aspect-ratio: 9/16;

        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    
        background: #000;
        position: relative;
        video {
            width: 100%;
            position: absolute;
            height: 100%;
            object-fit: cover;
            transform: scaleX(-1);

        }
        .camera-overlay {
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background-size:100% 100%;
        }
    }
    
    .picture-container {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        
        ._top {
            display: flex;
            padding-top: 2vh;
            ._top-left {
                width: 20%;
            }
            ._top-center {
                flex: 1;
                pointer-events: none;
            }
            ._top-right {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                .camera-close {
                    svg {
                        fill: #fff;
                        width: 10vw;
                        height: 10vw;
                        filter: $buttons-shadow;
                        path {
                            fill: #fff;
                        }
                    }
                }
                .camera-trash {
                    svg {
                        fill: #fff;
                        width: 10vw;
                        height: 10vw;
                        filter: $buttons-shadow;
                        path {
                            fill: #fff;
                        }
                    }
                }
                .camera-finish {
                    padding:0 2vw;
                    margin-right:5vw;
                    svg {
                        fill: #fff;
                        width: 10vw;
                        height: 10vw;
                        filter: $buttons-shadow;
                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        ._middle {
            flex: 1;
            pointer-events: none;
            display: block;
        }
        ._bottom {
         
            .controls {
                position: relative;
                overflow: hidden;
                z-index: 11111;
               
              
                margin: 0 auto;
            }
            
            .filter-icons {
                display: flex;
                overflow-x: auto;
             
                white-space: nowrap;
                align-items: center;
                height:20vh;
                
                width: 100%;
                padding-left:50vw;
                padding-right:50vw;
                scroll-snap-type: x mandatory;
                box-sizing: border-box;
                transition: all 0.2s ease-in-out;
            }
            
            .filter-icon {
            
              
                display: inline-flex;
                flex:1;
                margin:0 5vw;
                border-radius: 50%;
                height:15vw;
                width:15vw;
                cursor: pointer;
            
                position: relative;
                justify-content: center;
                align-items: center;
                flex: 0 0 auto;
                scroll-snap-align: center;
               
            }
            .empty-icon {
                visibility: hidden;
            }
            .filter-image {
                position: absolute;
                width:100%;
                height:100%;
           
                background-size: cover;
                border-radius: 100%;
                transition:  all 0.2s ease-in-out;
            }
            .snap-button {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left:calc(-6vh);
                margin-top:-6vh;
                height:12vh;
                width:12vh;
       
                outline:none;
                border:5px solid red;
                background:transparent;
            
                border-radius: 50%;
            }
            
            /* Hiding the scrollbar */
             .filter-icons::-webkit-scrollbar {
                display: none;
            }
            .filter-icons {
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }
            
        }

        .hold-finder-wrap {
            position: absolute;
            pointer-events: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transform: rotate(-5deg);
            text-align: center;
            align-items: center;
            filter: $buttons-shadow;
            animation: pulseInOut 3s infinite ease-in-out;

            svg {
                fill: #fff;
                width: 10vw;
                height: 10vw;
                filter: $buttons-shadow;
                path {
                    fill: #fff;
                }
            }
        }
        @keyframes pulseInOut {
            0% {
                transform: scale(1) rotate(-5deg);
            }
            50% {
                transform: scale(0.9) rotate(-10deg);
                opacity: 1;
            }
        }
    }
}
