.profile-screen-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    .header {
       
        
        background-size:cover;
        background-position: center bottom;
        transition: all 0.2s ease-in-out;
        position: relative;
        padding-bottom:5vh;
        ._top-bar {
            display: flex;
            padding-top:5vh;
            box-sizing: border-box;
            ._left {
                flex:1;
                .back {
                   margin-left:5vw;
                    svg {
                        width:7vw;
                        height:7vw;
                        fill: #fff;
                        filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.4));
                    }
                }
            }
            ._middle {
                width:30vw;
                .logo {
                    width:100%;
                    svg {
                        filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.4));
                    }
                    rect {
                        filter: drop-shadow(0px 0px 10px rgb(0 0 0 / 0.4));
                    }
                }
            }
            ._right {
                flex:1;
                
                align-items: flex-end;
                .logout-button {
                    margin-right:5vw;
                    text-align: right;
                }
            }
        }
        .trans-bottom {
            background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
            bottom:0;
            width:100%;
            height:5vh;
            position: absolute;
        }

        .profile-detail-structure-wrap {
            height:10vh;
            z-index: 999;
          
            position: relative;
            .profile-details-wrap {
                position: absolute;
                left:0;
                padding:0 5vw;
                top:5vh;
                box-sizing: border-box;
                width:100%;
                
                display: flex;
                .profile-image-wrap {
                    width:30vw;
                    padding:1vw;
                    height:30vw;
                    background:#000;
                    display: flex;
                    .profile-image {
                        flex:1;
                        display: flex;
                        background:#336cf1;
                        position: relative;
                        .upload-picture-button {
                            position: absolute;
                            top:0;
                            right:0;
                            height:100%;
                            width:100%;
                            text-align: center;
                            display: flex;
                            font-size:0.9rem;
                            justify-content: center;
                            align-items: center;
                            flex:1;
                            
                        }
                    }
                }
            }
            .profile-description-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left:5vw;
                text-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 1.0);
                flex:1;
                .username {
                    color:#336cf1;
                    font-size:2.3rem;
                    line-height: 2.2rem;
                }
                .joined-at {
                    color:#999;
                    font-size:1rem;
                    font-style: italic;
                }
                .rewards-points {
                    display: flex;
                }
            }
        }
    }
    
}