.rules-page {
    flex: 1;
    width:100%;
    flex-direction: column;
    max-width: 600px;
    box-sizing: border-box;
    display:flex;
    .rules-body {
        background-color: rgba($color: #ffe08a, $alpha: 0.7);

        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        max-height:80vh;
        color:#000;
        flex:1;
        flex-grow: 1;
        font-size:1.1rem;
        padding:20px;
        line-height:2.2rem;
        box-sizing: border-box;
        h1 {
            font-size:2rem;
            font-weight: bold;
            margin-bottom:0px;
        }
    }
    .rules-footer {
        flex:1;
        display: flex;
        justify-content: center;
  
        padding:20px;
        img {
            max-height:10vh;
        }
    }
}